*{
	box-sizing:border-box;
}

body{
    margin:0;
    

}
.container {
	max-width:1200px;
	width:100%;
    margin: 0 auto;
}
.kartica{
    width:30%;
    height:500px;
}
.raspored{
    display: flex;
    justify-content: space-between;
}
h1{
    font-family: 'Anton', sans-serif;
    
}
.naslov{
    display:flex;
    justify-content: space-between;
}
.cena{
    color: red;
    font-family: 'Anton', sans-serif;
}
.slika1{
    width:100%;
    height:200px;
    background-image: url(../img/slika1.jpg);
   background-position: center;
   background-size: cover;
}
.slika2{
    width:100%;
    height:200px;
    background-image: url(../img/slika2.jpg);
   background-position: center;
   background-size: cover;
}
.slika3{
    width:100%;
    height:200px;
    background-image: url(../img/slika3.jpg);
   background-position: center;
   background-size: cover;
}
.margine{
    padding-left:150px;
    padding-right:150px;

}
.building{
    font-size:18px;
}
.glavni{
    text-align:center;
    padding-left:150px;
    padding-right:150px;
}

p{
    color:gray;
}
a{
    padding:10px;
    border:2px solid grey;
    color:gray;
    text-decoration:none;
    
}
.paragraf{
    margin-bottom:50px;
}